<div class='row'>
<h1>Listing books</h1>
    <% @books.each do |book| %>
    <div class='col-lg-6'>
        <%= book.title %>
        <%= book.description %>
        <%= book.price %>
        <%= link_to 'Show', book %>
       <!--  <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </div>
    <% end %>
</div>

  <%= link_to "New Book", new_book_path, class: [:btn, 'btn-info', 'pull-right'] %>



<div class='row'>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: [:btn, 'btn-info', 'pull-right']) %>
</div>
