<!DOCTYPE html>
<html>
<head>
  <title>BlogBlog</title>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to('Sign out', destroy_user_session_path, :method => :delete, class: [:btn, 'btn-info']) %>
    <% else %>
     <%= link_to "Sign up", new_user_registration_path, class: [:btn, 'btn-info']%> or
     <%= link_to "sign in", new_user_session_path, class: [:btn, 'btn-info']%>
    <% end %>

     <% flash.each do |name, msg| %>
     <%= content_tag :div, msg, :id => "flash_#{name}" %>
     <% end %>
  </div>

  <div class="container">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>

<ul class="nav nav-tabs">
  <%= link_to "Back", :back, class: 'btn-link' %>
</ul>



</html>

